<!DOCTYPE html>
<html>
<head>
<title>Zent Password Reset</title>
</head>
<body>
    <h2>Reset Your Password, {{name}}</h2>
    <p>We received a request to reset your password. Please use the following 6-digit code to proceed:</p>
    
    <h3 id="otp-code" 
        style="background-color: #f4f4f4; padding: 10px; display: inline-block; border-radius: 5px; cursor: pointer; user-select: all;" 
        onclick="copyToClipboard()">
        {{code}}
    </h3>
    
    <p>This code will expire in 10 minutes.</p>
    <p>If you did not request a password reset, you can safely ignore this email.</p>
    <p>Please don't share this code with anyone.</p>

    <span id="copy-feedback" style="display: none; color: green; font-size: 14px; margin-left: 10px;">
        Copied!
    </span>


    <script>
        function copyToClipboard() {
            const codeElement = document.getElementById("otp-code");
            const codeText = codeElement.innerText;

            navigator.clipboard.writeText(codeText).then(() => {
                const feedback = document.getElementById("copy-feedback");
                feedback.style.display = "inline-block";
                
                setTimeout(() => {
                    feedback.style.display = "none";
                }, 2000);
            }).catch(err => {
                console.error('Failed to copy text: ', err);
            });
        }
    </script>
</body>
</html>
